.container {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 500;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  animation: darkening 0.6s ease;
  .box {
    margin: 10px;
    background-color: #fff;
    box-shadow: 0px 9px 24px rgba(0, 0, 0, 0.18);
    border-radius: 10px;
    @media (min-width: 768px) {
      position: absolute;
      top: 30px;
      left: 50%;
      transform: translateX(-50%);
      animation: slide-down 0.3s ease-out;
    }
  }
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translate(-50%, -100%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}

@keyframes darkening {
  from {
    background-color: rgba(0, 0, 0, 0);
  }
  to {
    background-color: rgba(0, 0, 0, 0.5);
  }
}
