.container {
  padding-left: 15px;
  padding-right: 15px;
}

.title {
  background-color: #f0f0f0;
  margin-top: 15px;
  margin-bottom: 18px;
  h4 {
    font-size: 16px;
    font-weight: 700;
    line-height: 36px;
    background-color: #df0000;
    color: #fff;
    display: inline-block;
    padding: 0 15px;
    border-radius: 3px;
  }
}

.swiper-wrapper {
  position: relative;
  .btn {
    position: absolute;
    background: red;
    z-index: 2;
    top: 50%;
    height: 0px;
    width: 100%;
    transform: translateY(-50%);
    font-size: 32px;
    .btn__frame {
      display: flex;
      justify-content: center;
      cursor: pointer;
      border: 1px solid #e1e1e1;
      background: #fff;
      color: #454545;
      border-radius: 4px;
      box-shadow: 0 1px 3px rgb(0 0 0 / 10%);
      width: 32px;
      padding: 20px 0;
      margin: 0 -5px;
      transition: all 0.2s;
      &:hover {
        padding: 20px 30px;
        color: #D90000;
        box-shadow: 0 4px 12px rgb(0 0 0 / 10%);
      }
    }
    .btn--prev {
      position: absolute;
      left: -28px;
      transform: translateY(-50%);
      @media (max-width: 991px) {
        display: none;
      }
    }
    .btn--next {
      position: absolute;
      right: -28px;
      transform: translateY(-50%);
      @media (max-width: 991px) {
        display: none;
      }
    }
  }
}
