.container {
  padding-left: 15px;
  padding-right: 15px;
}

.wrapper {
  position: relative;
  .btn {
    position: absolute;
    background: red;
    z-index: 2;
    top: 50%;
    height: 0px;
    width: 100%;
    transform: translateY(-50%);
    font-size: 32px;
    .btn__frame {
      display: flex;
      justify-content: center;
      cursor: pointer;
      border: 1px solid #e1e1e1;
      background: #fff;
      color: #454545;
      border-radius: 4px;
      box-shadow: 0 1px 3px rgb(0 0 0 / 10%);
      width: 32px;
      padding: 20px 0;
      margin: 0 -5px;
      transition: all 0.2s;
      &:hover {
        padding: 20px 30px;
        color: #d90000;
        box-shadow: 0 4px 12px rgb(0 0 0 / 10%);
      }
    }
    .btn--prev {
      position: absolute;
      left: -25px;
      transform: translateY(-50%);
      @media (max-width: 991px) {
        display: none;
      }
    }
    .btn--next {
      position: absolute;
      right: -25px;
      transform: translateY(-50%);
      @media (max-width: 991px) {
        display: none;
      }
    }
  }
}
