.container {
  display: flex;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  @media (min-width: 768px) {
    width: 750px;
  }
  @media (min-width: 992px) {
    width: 970px;
  }
  @media (min-width: 1200px) {
    width: 1170px;
  }
  .swiper-wrapper {
    width: 100%;
    margin-top: 15px;
    .img-wrapper {
      user-select: none;
      display: flex;
      justify-content: center;
      img {
        max-height: 350px;
        max-width: 100%;
      }
    }
  }
}
