.container {
  position: absolute;
  inset: 0;
  z-index: 1;
  &:hover .wrapper ul li {
    opacity: 1;
    transform: translateX(0%);
  }
}

.wrapper {
  position: absolute;
  top: 10px;
  right: 10px;
  ul {
    list-style-type: none;
    li {
      margin: 10px;
      transition: all 0.3s ease;
      transform: translateX(100%);
      opacity: 0;
      &:last-child {
        transition-delay: 0.1s;
      }
      .icon {
        cursor: pointer;
        background-color: #fff;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        color: #777;
        transition: all 0.3s ease-in;
        &:hover {
          background-color: #333;
          color: #fff;
        }
      }
    }
  }
}

