.container {
  flex-grow: 1;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  flex-direction: column;
}

.product-list {
  display: table;
  flex-grow: 1;
  .product-item {
    float: left;
    width: 25%;
    @media (max-width: 991px) {
      width: 33.3333%;
    }
    @media (max-width: 767px) {
      width: 50%;
    }
  }
}
