.container {
  padding-left: 15px;
  padding-right: 15px;
}

.product-list {
  .product-item {
    float: left;
    width: 25%;
    @media (max-width: 991px) {
      width: 33.3333%;
    }
    @media (max-width: 767px) {
      width: 50%;
    }
  }
}

.pagination-wrapper {
  display: inline-block;
  .pagination {
    margin-top: 10px;
    margin-bottom: 10px;
    li {
      height: auto;
      height: 100%;
      text-decoration: none;
      font-size: 14px;
      cursor: pointer;
      display: inline-block;
      a {
        display: inline-block;
        background: #fff;
        border: 1px solid #ddd;
        border-radius: 3px;
        padding: 6px 13px;
        text-decoration: none;
        vertical-align: middle;
        &:hover {
          background: #eee;
          span {
            color: #df0000;
          }
        }
        span {
          font-weight: 600;
          display: flex;
          justify-content: center;
          align-items: center;
          line-height: 1.5rem;
          height: 1.5rem;
          width: 1rem;
          color: #333;
        }
      }
    }
    .disappear {
      display: none;
    }
    .active {
      a {
        background: #df0000;
        border: 1px solid #d92e2e;
        span {
          color: #fff;
        }
        &:hover {
          background: #df0000;
          span {
            color: #fff;
          }
        }
      }
    }
    li + li {
      margin-left: 3px;
    }
  }
}
